version: '3.9'

services:
  python-app:
    build: .
    container_name: python-app
    depends_on:
      - redis
    networks:
      - my-network

  redis:
    image: redis
    container_name: redis
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
